/* Mobile version */
@media( max-width: 600px){

    .cam_output_placeholder_shrunk {
        width: 100%!important;
        height: 100%;
        }

    .chatfield_layout{
        vertical-align: bottom;
        padding-bottom: 9%;
        height: 65%;
        padding-top: 0!important;
    }

    .shrunk-onmobile {
        display: none;
    }

    .shrunk-onweb {
        display: none;
    }

    .shrunkito {
        width: 100%;
    }


    .md-field.md-has-textarea:not(.md-autogrow) .md-textarea {
        min-height: 2em!important;
    }

    .md-button {
        height: 6vh!important;

    }
    .button-height{
        height: 6vh;
    }


}

/* Tablet x Small screen version css */
@media (max-width: 1100px) and (min-width: 600px)  {

    .shrunk-onweb {
        display: none;
    }

    .shrunkito {
        display: none;
    }


    .chatfield_layout {
        height: 55%;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .dashboard_layout {
        padding-left: 0;
    }

    .md-field.md-has-textarea:not(.md-autogrow) .md-textarea {
        min-height: 5em!important;
    }
}

/* Web version css */
@media (min-width: 1100px) and (max-width: 2500px) {
    .shrunk-onmobile {
        display: none;
    }
    .shrunkito {
        display: none;
    }


    .chatfield_layout {
        height: 80%;
        width: 100%;

    }

    .md-field.md-has-textarea:not(.md-autogrow) .md-textarea {
        min-height: 6em!important;
    }

    .dashboard_layout {
        padding-left: 3%;
    }

}

