/* Mobile version */
@media( max-width: 600px){


    .btnselector_field{
        margin: 0 auto;
        width: 60vw;
        display: flex;
        flex-direction: row;


   }

   .disclaimer {
        color:darkgrey!important;
        font-size: 0.7em!important;
        line-height: normal;
 }

    .heading_chatnow {
        width: 90vw!important;
        padding-top: 15%!important;
        margin: 0 auto;
    }


    #h1_landing_spacing {
        text-align: center;

        font-size: 3rem;
    }

    .md-layout-item {
        width: 100%;
        margin: 0 auto;
    }

    .henlo {
        width: 100%;
        margin: 0 auto!important;
        height: 7vh!important;
        font-size: 5vw!important;
        text-transform: capitalize!important;
        background-color: white!important;
    }

}

/* Tablet x Small screen version css */
@media (max-width: 1100px) and (min-width: 600px)  {

    .btnselector_field{
        margin: 0 auto;
        width: 220px;


   }

   .disclaimer {
    color:darkgrey!important;
    font-size: 0.8em!important;
}


    .heading_chatnow {
        width: 63vw!important;
        margin: 0 auto;
    }


    #h1_landing_spacing {
        text-align: center;

        font-size: 4rem;
    }

    .md-layout-item {
        width: 100%;
        margin: 0 auto;
    }

    .henlo {
        width: 100%;
        margin: 0 auto!important;
        height: 7vh!important;
        font-size: 2vw!important;
        text-transform: capitalize!important;
        background-color: white!important;
    }

}


/* Web version css */
@media (min-width: 1100px) and (max-width: 2500px) {

    .btnselector_field{
        margin: 0 auto;
        width: 20vw;
   }

    #centerBig {
        margin: 0 auto;
    }

   .disclaimer {
    color:darkgrey!important;
    font-size: 0.7em!important;
       margin: 0 auto;


   }


    .heading_chatnow {
        width: 50rem!important;
        margin: 0 auto;
    }
    #h1_landing_spacing {
        text-align: center;

        font-size: 4rem;
    }

    .md-layout-item {
        width: 100%;
        margin: 0 auto;
    }

    .henlo {
        width: 100%;
        margin: 0 auto!important;
        height: 7vh!important;
        font-size: 2em!important;
        text-transform: capitalize!important;
        background-color: white!important;
    }
}
