@media (max-width: 600px) {

    .loginForm {
        width: 80vw!important;
        padding: 7%!important;
    }

}


    @media (max-width: 1100px) and (min-width: 600px) {

    .loginForm {
        width: 43vw!important;
    }

}