/* Mobile version */
@media( max-width: 600px){

  #loginBtn {
      display: none;
  }

   #logoutBtn {
       display: none;
   }

  #registerBtn {
      display: none;
  }


    .md-speed-dial-target {
        width: 2.5em!important;
        height: 2.5em!important;
    }

  #menuBtn  {
      width: auto;
      height: auto;
      margin-right: 3%;
      margin-top: 3%;
  }

}

/* Tablet x Small screen version css */
@media (max-width: 1100px) and (min-width: 600px)  {

  #menuBtn {
      display: none;
  }

  .md-toolbar{
      margin-top: 2%!important;
  }
}


/* Web version css */
@media (min-width: 1100px) and (max-width: 2500px) {

    #menuBtn {
        display: none;
    }
}
