<template>
    <div>
        <div class="dashboard_layout">
            <table style="height: 100%; width: 100%">

                <tr class="shrunkito">
                    <div style="width: 100%; padding-top: 10%">

                        <!-- Mobile / Shrunk version -->
                        <div class="cam_output_placeholder_shrunk">
                            <p style="z-index: 5; position: absolute; left: 3%; font-weight: bolder; color: #448aff">Stranger's cam</p>

                            <content-placeholders :rounded="true">
                                <video style="z-index: 8; position: absolute" autoplay class="remote-video" id="remote-video"></video>
                                <content-placeholders-img  style="height: 56vh!important;"  />
                            </content-placeholders> 
                            
                            
                            <content-placeholders :rounded="true" style="z-index: 6; border: solid 2px #eee; border-radius: 2%;
                            position:absolute; bottom: 45%; right: 2%; width: 5em; height: 2em">
                                <div class="video-mask">
                                    <video autoplay muted class="local-video" ></video>
                                </div>
                                <content-placeholders-img style="height: 5em; width: 5em" />
                            </content-placeholders>

                        </div>

                    </div>
                </tr>
                <tr class="shrunk-onmobile" >
                    <div style="width: 100%">

                        <!-- Tablet / Shrunk version -->
                        <div style="padding-right: 2%; padding-left: 2%" class="cam_output_placeholder_shrunk">
                        <md-label style="color:#FFFFFF;">Stranger's cam</md-label>
                        <content-placeholders :rounded="true">
                            <content-placeholders-img  />
                        </content-placeholders>
                    </div>

                    <div style="padding-right: 2%; padding-left: 2%"  class="cam_output_placeholder_shrunk">
                        <md-label style="color:#FFFFFF;">Your cam</md-label>
                        <content-placeholders :rounded="true">
                            <div class="video-mask">
                                <video autoplay muted class="local-video" ></video>
                            </div>
                        </content-placeholders>
                    </div>
                    </div>
                </tr>

                <tr style="height: 100%">
                    <!-- Web version -->
                    <td class="shrunk-onweb" style="width: 25%; height: 100%">
                        <table style="height: 100%; width: 100%">
                            <tr class="cam_output_placeholder">
                                <md-label style="color:#FFFFFF;">Stranger's cam</md-label>

                                <content-placeholders :rounded="true">
                                </content-placeholders>
                            </tr>

                            <tr class="cam_output_placeholder">
                                    <md-label style="color:#FFFFFF;">Your cam</md-label>
                                <content-placeholders :rounded="true">
                                    <div class="video-mask">
                                        <video v-if="videoUp = true"  autoplay muted class="local-video" ></video>
                                    </div>
                                    <content-placeholders-img v-if="videoUp = false"  />


                                </content-placeholders>
                            </tr>
                        </table>
                    </td>

                    <!-- defining chat block -->
                    <td class="chatfield_layout" >

                        <md-content id="tobottom"
                                    class="chatfield_layout"
                                    style=" padding: 2%; border-radius: 1%; margin-bottom: 1%; overflow-y: scroll"
                                    v-chat-scroll="{always: false, smooth: true}">

                            <div style="margin-bottom: 1%" v-for="(msg, index) in messages" :key="index">
                                <table  style="text-align: left; width: 100%">
                                   <tr>



                                   </tr>
                                    <tr >
                                        <p v-if="msg.user === $store.state.userInfo.email " style="font-weight: bolder; color: darkcyan; display: inline">You: </p>
                                        <p v-if="msg.user !==$store.state.userInfo.email" style="font-weight: bolder; color: darkred; display: inline">Stranger: </p>
                                        <p style="display: inline">{{ msg.text }}
                                            <md-chip style="font-size: 0.7em" md-disabled>{{msg.date}}</md-chip>
                                        </p>

                                    </tr>
                                </table>

                            </div>
                        </md-content>
                        <form  @submit.prevent="sendMessage">
                    <table style="width: 100%">
                        <tr style="width: 100%">
                            <td style="width: 90%; height: 100%; margin: 0; padding: 0">
                                <md-field style="border-radius: 2%">
                                    <label>Your Message</label>
                                    <md-textarea v-on:keyup.enter="sendMessage"  v-model="text" type="text">
                                    </md-textarea>
                                </md-field>
                            </td>
                            <td style="height: 100%; margin: 0; padding: 0" >
                                <md-button style="margin: 0!important; padding: 0!important;"   type="submit"  class="md-dense md-raised md-primary button-height">Send</md-button>

                            </td>
                        </tr>
                    </table>
                        </form>

                    </td>
                </tr>

            </table>
        </div>

    </div>
    
</template>

<script>
    import io from 'socket.io-client';
    import moment from 'moment'
    import './mobile_styling/dashboard_mobile.css';


    export default {
        name: "Dashboard",
        created() {
            this.$store.state.navbarBtn = 2
        },
        mounted() {
            this.socket.on('MESSAGE', (data) => {
                this.messages = [...this.messages, data];
                // you can also do this.messages.push(data)
            });

            navigator.getUserMedia(
                { video: true, audio: true },
                stream => {

                    const localVideo = document.getElementsByClassName("local-video");
                    let i;
                    for (i = 0; i < localVideo.length; i++) {
                                localVideo[i].srcObject = stream;
                        this.videoUp = true;

                    }

                },
                error => {
                    console.warn(error.message);
                }
            );

        },
        updated: function () {
            const container = this.$el.querySelector("#tobottom");
            container.scrollTop = container.scrollHeight;
        },
        data(){
            return {
                name: null,
                videoUp: false,
                showMessage: "",
                messages: [],
                user: '',
                text: '',
                socket : io('localhost:'+process.env.VUE_APP_SOCKET_PORT),
                ops: {
                    vuescroll: {},
                    scrollPanel: {},
                    rail: {},
                    bar: {}
                }
            }
        },
        methods: {
            moment: function () {
                return moment()
            },
            sendMessage(e) {
                e.preventDefault();
                this.socket.emit('SEND_MESSAGE', {
                    user: this.$store.state.userInfo.email,
                    text: this.text,
                    date:  moment().format('h:mm a')
                });
                this.text = ''
            }
        }
    }
</script>

<style scoped>

    .video-mask{
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
    }

    h2 {
        margin: 0;
    }

    .video {
        border-radius: 2%;
    }

    .cam_output_placeholder_shrunk {
        width: 50%;
        display: inline-block;

    }

    .chatfield_layout {
        padding-left: 1%;
        border-radius: 2%;
        padding-bottom: 5%;
        padding-right: 3%;
        padding-left: 3%;
    }
    .md-field {
        background-color: #FFFFFF;
        margin: 0;
    }

    .md-button {
        margin-left: 4%;
        width: 8vw;
        height: 11vh;
    }

    .dashboard_layout {
        margin: 0;
        padding-top: 8%;
        width: 100vw;
        height: 100vh;
    }
    .vue-content-placeholders-img {
        height: 30vh;
    }
    .cam_output_placeholder {
        z-index: 3;
        padding-bottom: 15%;
        padding-top: 15%;
        height: 50%;
        width: 100%;
    }

</style>