<template>
    <div class="footer">
        <p>Copyright FlirtRandom 2020 </p>
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
    p {
        font-size: 0.8em;
        font-style: italic;
        color: white;
    }

    .footer {
        position: fixed;
        display: none;
        bottom: 1%;
        transform: translateX(-50%);
        left: 50%;
        z-index: 3;
    }

</style>