<template>
<div class="bg">
    <div class="heading_chatnow">
      <div class="disc-chat-logo">
        <router-link v-if="this.$store.state.auth.status.loggedIn"  to="/dashboard">
          <div style="margin: 0; font-size: 3rem "><span  style="color: orangered; text-decoration: none">Disc</span><span style="color: white">.chat</span></div>
        </router-link>
        <router-link v-if="!this.$store.state.auth.status.loggedIn"  style="color: orangered; text-decoration: none" to="/">
          <div style="margin: 0; font-size: 3rem "><span  style="color: orangered; text-decoration: none">Disc</span><span style="color: white">.chat</span></div>
        </router-link>
      </div>

        <div class="disc-chat-desc">Secured P2P Video Chat</div>
        <div class="selection_field">

        </div>

    </div>
    <div>
    </div>
</div>
</template>

<script>
import './mobile_styling/landing_mobile.css';

export default {
    name: "Landing",
    data() {
        return {
            boolean: true,
            gender: ''
        }
    },
    created() {
        this.$store.state.navbarBtn = 0;
    }

}
</script>

<style scoped>
h1 {
    font-size: 4rem;
    line-height: 1em;
    font-weight: bolder;
}

h2 {
    font-size: 2em;

}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    color: #FFFFFF;
}

.bg {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: #17223B;
  }

.md-layout-item {
    margin: 0 auto;
}

.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: darkgrey;
}

.disc-chat-logo {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.disc-chat-desc {
  color: grey
}

.heading_chatnow {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 2;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 3%;
  top: 50%;
  position: absolute;
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}


.start_chatting {
  height: 2rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background-color: #448aff;
}

.select_gender {
  height: 2rem;
  border-radius: 6px;
}

.selection_field {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>
