<template>
    <div class="bg">

        <div class="loginForm">
            <h3>Login to FlirtRandom</h3>
            <p><i>Login now and chat with thousands of users</i></p>

            <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>

            <!-- Start of Login Form  -->
            <form name="form" @submit.prevent="handleLogin">

                        <vs-input
                            v-model="user.email"
                            v-validate="'required'"
                            type="email"
                            placeholder="Email address"
                            name="email">
                        </vs-input>
                        <div v-if="errors.has('email')"
                                class="alert alert-danger"
                                role="alert">
                          <span>email is required!</span>
                        </div>
                        <vs-input
                            placeholder="Password"
                            v-model="user.password"
                            v-validate="'required'"
                            type="password"
                            name="password">
                        </vs-input>
                        <div
                                v-if="errors.has('password')"
                                class="alert alert-danger"
                                role="alert">
                          <span>Password is required!</span>
                        </div>


                    <vs-button type="input" class="md-raised md-primary" >Login</vs-button>

                <!-- End of login form -->



            </form>
            <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>

            <p>Or </p>
            <img class="btnGoogle" src="@/assets/btn_google_signin_dark_normal_web.png">
            <router-link to="/dashboard">
                <a class="btnGoogle" style=" position: absolute; bottom: -10%; transform: translateX(-50%); left: 50%; color: white">No thanks, register me later</a>
            </router-link>

        </div>
    </div>
</template>

<script>
    import User from '../models/user';
    import './mobile_styling/login_mobile.css'
    var PulseLoader = require('vue-spinner/src/PulseLoader.vue');

    export default {
        name: "Login",
        components: {
            'PulseLoader': PulseLoader
        },
        data(){
            return {
                user: new User('','', false),
                message: '',
                loading: false,
                spinner: false,
            }
        },
        computed: {
            loggedIn() {
                return this.$store.state.auth.status.loggedIn;
            }
        },
        created() {
            if (this.loggedIn) {
                this.$router.push('/dashboard');

            }
        },
        methods: {
            bntSet(){
                this.$store.state.navbarBtn = 0;
            },
            handleLogin() {
                this.loading = true;
                this.$validator.validateAll().then(isValid => {
                    if (!isValid) {
                        this.loading = false;
                        return;
                    }

                    if (this.user.email && this.user.password) {
                        this.$store.dispatch('auth/login', this.user).then(
                            () => {
                                this.$store.state.userInfo.email = this.user.email;
                                console.log(this.$store.state.userInfo.email);
                                this.$router.push('/dashboard');

                            },
                            error => {
                                this.loading = false;
                                this.message =
                                    (error.response && error.response.data) ||
                                    error.message ||
                                    console.log(error.toString());
                            }
                        );
                    }
                });
            }
        }
    };
</script>

<style scoped>

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

    a {
        color: white;
    }
    body {
        margin: 0 auto;
    }

    p {
        color: cadetblue;
    }

    .btnGoogle:hover {
        opacity: 0.9;
    }

    .btnGoogle:active {
        opacity: 0.5;
    }

    .loginForm {
        border-radius: 2%;
        z-index: 2;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: white;
        padding: 3%;
        top: 50%;
        position: absolute;
        width: 25vw;
        margin: 0 auto;
    }

    .bg {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-image: url(../assets/bg4.jpg);
    }

</style>
