<template>
    <div >
    <div  class="navbar" md-elevation="0">



    </div>

    </div>
</template>

<script>
    import './mobile_styling/dashboard_mobile.css';
    import './mobile_styling/nav_mobile.css'
    export default {
        name: "Nav",
        data() {
            return {}
        },
        mounted() {
            console.log(this.$route.name)

        },
        methods: {
            handleLogout() {
                this.$store.dispatch("auth/logout")
                this.$router.push('/');
            },
        }
    }

</script>

<style scoped>

    @media( max-width: 600px){
        #goOut {
            display: none;
        }
    }

    #loginBtn {
    }


    h1 {
        font-size: 2.5em;
    }

 /* VueSax overrides */

    .vs-button {
        font-size: 1.3em;
    }


    .vs-button-group {
      border-radius: 0!important;
    }

    .vs-button {
      border-radius: 0!important;
    }

/* Custom classes */

    .navbar {
      position: fixed;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100vw;
      top: 2rem;
      left: 0% !important;
      z-index: 2;
      padding-right: 1rem;

    }

    .nav-button-title-logo {
      display: flex;
      flex-direction: row;
      margin-left: 3rem;
    }

    .nav-button-flex-row {
      display: flex;
      flex-direction: row;
      margin-right: 2rem;

    }



    .nav-buttons {
      padding: 0.3rem 0.8rem;
    }

    .nav-register-button {
      color: orangered;
    }

</style>
