<template>
    <div>
        <div class="profileLayout">
            <h1>My Profile</h1>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Profile"
    }
</script>

<style scoped>

    h1 {
        color: orangered;
    }
    .profileLayout {
        border-radius: 2%;
        z-index: 2;
        transform: translate(-50%, -50%);
        left: 50%;
        padding: 3%;
        top: 50%;
        text-align: left;
        height: 70vh;
        position: absolute;
        width: 70vw;
        margin: 0 auto;
    }
</style>