<template>
    <div class="bg">
    <div class="registerForm">
        <h3>Register to FlirtRandom</h3>
        <p><i>Flirt with whoever you want, whenever you want</i></p>
        <form @submit.prevent="createUser">
        <md-field md-clearable>
            <label>Email adress</label>
            <vs-input v-model="post.email" type="email"></vs-input>
        </md-field>

        <md-field>
            <label>Password</label>
            <vs-input v-model="post.password" type="password"></vs-input>
        </md-field>

            <md-content style="font-size: 0.7em" v>
                <md-checkbox v-model="boolean" class="md-primary"></md-checkbox>
                Je certifie avoir lu et accepté les conditions d'utilisation
            </md-content>

        <md-content md-alignment="center">
            <md-button type="submit" class="md-raised md-primary"  >Register</md-button>
        </md-content>
        </form>

    </div>

        <div class="registerComplete">
            <md-dialog-confirm
                    :md-active.sync="active"
                    md-title="Register success"
                    md-content="You've successfully created a FlirtRandom account, you can now login to FlirtRandom"
                    md-cancel-text="Login"
                    @md-cancel="toHome"
                     />

        </div>
    </div>
</template>

<script>
    import axios from 'axios';
    import './mobile_styling/register_mobile.css';

    export default {
        name: "Login",
        created() {
            this.$store.state.navbarBtn = 1;
        },
        data(){
          return{
              boolean: false,
              active: false,
              value: null,
              post: {},
              info: null,
              badCredentials: '',
              spinner: false,

          }
        },
        methods: {
            async createUser() {
                await axios.post(
                    "http://localhost:"+process.env.VUE_APP_API_PORT+"/signup",
                    this.post
                )      .then(response => (this.info = response.status ) &&  this.onConfirm() && console.log(this.second))
                    .catch((error) => {
                            this.badCredentials = "Erreur "+error.response.status +` - `+"Désolé mais les informations fournies sont incorrectes";

                    })
            },
            onConfirm(){
                this.active = true
            },
            toHome() {
                this.$router.push('/login')
            },
        }
    }
</script>

<style scoped>

    body {
        margin: 0 auto;
    }

    p {
        color: cadetblue;
    }

    .registerForm {
        border-radius: 2%;
        transform: translate(-50%, -50%);
        left: 50%;
        background-color: white;
        padding: 3%;
        top: 50%;
        position: absolute;
        width: 25vw;
        margin: 0 auto;
    }

    .bg {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        width: 100vw;
        height: 100vh;

        background-image: url(../assets/bg3.jpg);
    }


</style>
