<template>
  <div id="app">
    <Nav></Nav>
    <transition name="fade">
      <router-view></router-view>
    </transition>
    <Footer></Footer>
  </div>
</template>

<script>

import Nav from "./components/Nav";
import Footer from "./components/Footer";
export default {
  name: 'App',
  components: {
    Footer,
    Nav
  }
}
</script>

<style>
  body {
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
    overflow: hidden;
    margin: 0!important;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}
</style>
